doctype html

html(lang="en")
  head
    title Chapter 3 - Categories Great and Small
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="../node_modules/reveal.js/css/reveal.scss"
    )
    link(
      rel="stylesheet"
      href="../node_modules/reveal.js/css/theme/source/simple.scss"
    )
    link(
      rel="stylesheet"
      href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css"
    )

  body
    .reveal: .slides

      section
        h3 Previously on 
        h2 Category Theory Study Group

      section
        p Previously on Category Theory Study Group

        ol
          li Object
          li Morphism 
          li Identity
          li Composition
          li Associativity
          li Abstraction
          li Isomorphism

        aside.notes: pre.
          Object:
            Category is a bunch of objects and morphisms

          Morphism:
            Morphism points from object to object

          Abstraction
            Objects have no properties other than their morphisms.
            It's not so for morphisms. There can be many different morphisms from object a to b.

          Identity
            Every object has to have at least one morphism with itself (a -> a)


          Isomorphism
            Invertable function, like:
            
              g . f = id

            Domain of g is the image of f and domain of f is the image of g.

            For finite sets isomorphism means that sets are essentially the same.

      section
        h1 Categories Great and Small

      section
        h3 Today we are going to:

        ol
          li Take a look at an empty Category
          li Construct a free category from a directed graph
          li Talk about orders
          li Discuss monoid as set...
          li ...and as Category 🤕

      section
        h2 Empty Category

        p No objects and no morphisms

        p.fragment.slide-in(style={ zoom: 3 }) 🥁

      section
        // Intentionally left blank

      section
        h2 Free Category
        p from a directed graph
        
      section
        p Directed graph...

        .mermaid.
          graph LR
          a --> b
          a --> c
          b --> d

      section
        p ...with identities...

        .mermaid.
          graph LR
          a --> b
          a --> c
          b --> d

          a --> a
          b --> b
          c --> c
          d --> d

      section
        p ...and composable edges

        .mermaid.
          graph LR

          a --> b
          a --> c
          b --> d

          a --> a
          b --> b
          c --> c
          d --> d

          a --> d

      section
        h3 Free construction:
        p a process of completing a given structure by extending it with minimal number of items to satisfy it's laws.
        p Here, #[strong the laws of a category].

      section
        h2 Orders

      section
        h3 ( #[code ≤] )

        p Relation of being #[em less than or equal] 

        p: strong Is this a category?

        p.fragment.grow 
          i.fas.fa-check.fragment.fade-in
          | 
          span Identity morphisms ( #[code ∀ a: a ≤ a] )?
        
        p.fragment.grow 
          i.fas.fa-check.fragment.fade-in
          | 
          span Composition ( #[code a ≤ b ∧ b ≤ c ⇒ a ≤ c ] )?

        p.fragment.grow 
          i.fas.fa-check.fragment.fade-in
          | 
          span Associative ( ... )?
          //- TODO: What does associative mean in this context?

      section
        p Thats a

        h3 Preorder

        .mermaid.
          graph LR

          0 --> 1
          1 --> 2

          0 --> 2

          0 --> 0
          1 --> 1
          2 --> 2

      section
        h3 Partial Order


        p #[code a ≤ b ∧ b ≤ a ⇒ a = b ] 

        .mermaid.fragment.fade-out(data-fragment-index=1).
          graph LR

          a --> b
          b --> a

          a --> a
          b --> b
    
    
        .mermaid.fragment.fade-in(data-fragment-index=1).
          graph LR

          a --> a

      section
        h3 Total Order


        p #[code ∀ a b: a ≤ b ∨ b ≤ a] 

        div(style={"display": "flex", "justify-content": "space-around" })

          .mermaid.fragment.fade-out.
            graph TD

            a --> b
            b --> c
            d --> e

            a --> c

            a --> a
            b --> b
            c --> c

            d --> d
            e --> e
      
          .mermaid.
            graph LR

            a --> b
            b --> c
            c --> d
            d --> e

            a --> c
            a --> d
            a --> e

            b --> d
            b --> e

            c --> e

            a --> a
            b --> b
            c --> c
            d --> d
            e --> e


      section
        h2 Orders as Categories


      section
        h3 Preorder is a #[strong thin category]

        p i.e. there is #[em at most one] morphism going from any object #[code a] to any object #[code b]

      section
        h3 Hom-Set

        p set of morphisms from object #[code a] to object #[code b] in a category #[code c]

        p: code C(a, b)

      section
        h3 Hom-Sets in a Preorder Category

        p #[code ∀ a b: |C(a, b)| = 0 ∨ |C(a, b)| = 1] 

        p A cardinality of a hom-set of any pair of objects is either one or zero.

        p This includes #[code C(a, a)] that always contains exactly one morphism (identity)

      section
        p In a preorder category cycles are permitted.

        .mermaid.
          graph LR

          a --> b
          b --> c
          c --> d
          d --> a

      section
        p In partial orders #[strong cycles are not permitted] 


      section
        p Following the composition rule of category 
        
        p #[code b -> c . a -> b ] 
        
        p any cycle would lead to 
        
        p #[code a ≤ b ∧ b ≤ a].

        div(style={"display": "flex", "justify-content": "space-around"})

          .mermaid.fragment.fade-in-then-semi-out.
            graph LR

            a --> b
            b --> c
            c --> d
            d --> a

          .mermaid.fragment.fade-in-then-out.
            graph LR

            a --> b
            b --> c
            c --> d
            d --> a

            a --> c
            a --> d

            b --> d
            b --> a

            c --> a
            c --> b

            d --> b
            d --> c

            a --> a
            b --> b
            c --> c
            d --> d

      section

        p Following the rules of partial order this 
        
        p #[code a ≤ b ∧ b ≤ a].

        p would mean that 
        
        p #[code a = b].

        div(style={"display": "flex", "justify-content": "space-around"})

          .mermaid.fragment.fade-in-then-semi-out.
            graph LR

            a --> b
            b --> c
            c --> d
            d --> a

            a --> c
            a --> d

            b --> d
            b --> a

            c --> a
            c --> b

            d --> b
            d --> c

            a --> a
            b --> b
            c --> c
            d --> d


          .mermaid.fragment.fade-in-then-semi-out.
            graph LR

            A(a) --> B(a)
            B(a) --> C(a)
            C(a) --> D(a)
            D(a) --> A(a)

            A --> C
            A --> D

            B --> D
            B --> A

            C --> A
            C --> B

            D --> B
            D --> C

            A --> A
            B --> B
            C --> C
            D --> D

          .mermaid.fragment.fade-in.
            graph LR

            a --> a

      section
        h2 Monoid as Set

      section
        p First some examples

        ul
          li Addition with 0
          li Multiplication with 1
          li String concatenation with empty string
          li Appending list with an empty list

        aside.notes: pre.
          So it has to do something with doing nothing.
        
      section
        h3 Monoid in terms of set theory

        p Monoid is a set with a binary operation
        p The opperation is associative
        p There is one special element in the set that is neutral

      section
        p Let's consider natural numbers:

        div.mermaid.
          graph TD

          0
          1
          2
          3
          ...

          style ... fill: none, stroke: none

        p and addition 
        
        code (+)

      section

        p The operation is associative

        code (1 + 2) + 3 = 1 + (2 + 3)


      section
        p and there is a neutral element:

        p: code 0 + 1 = 1
        p: code 1 + 0 = 1
        p: code 0 + 2 = 2
        p: code 2 + 0 = 2
        p: code ...

      section
        p Note that operator doesn't have to be commutative, but the neutral element can stand on either side of it and the operation will yield the other element.

      section
        p Consider a set of lists (of whatever elements), i.e.

        code List a
        
        p with an empty list

        code []

      section
        p In general

        code a ++ b ≠ b ++ a

        p but

        code [] ++ a = a ++ []

      section
        p Mempty and Mappend

        img(
          src="./mempty-and-mappend.jpg"
          style={ 
            "border": "none",
            "box-shadow": "none" 
          }
        )

      section

        p A mempty is the neutral element in a given monoid

        p: small (like an empty list)

        p A mappend is the binary operation

        p: small: code m -> m -> m

        p: small (like a #[code List.append])

      section
        code.lang-haskell: pre(style={ padding: "1em" }).
          class Monoid m where
            mempty :: m
            mappend :: m -> m -> m

          instance Monoid String where
            mempty = ""
            mappend = (++)


      section
        p Counter example 🐒
        
        p Natural numbers with 1 under division

        ul.fa-ul(style={ "list-style-type": "none" })
          li.fragment
            span.fa-li: i.fas.fa-check
            | Division is binary
          li.fragment
            span.fa-li: i.fas.fa-check
            | One is a natural number
          li.fragment
            span.fa-li: i.fas.fa-check
            | #[code n / 1 = n]
          li.fragment
            span.fa-li: i.fas.fa-times
            | #[code 1 / n = n]
          li.fragment
            span.fa-li: i.fas.fa-times
            | Division is associative
            br
            small: code 24 / (4 / 2) = (24 / 4) / 2]

        aside.fragment
          p: small Do natural numbers form a monoid under division with any number?
          p: small I don't think so.

      section
        h2 Monoid as Category

        p(style={ zoom: 2 }) 🤕🤯

      section
        p Let's consider N and (+) again

        p For any #[code n :: N] there is a function (#[code N -> N]) that adds #[code n] to it's argument.

      section
        p We can call it an adder, for example:

        code: pre.
          (+) 2         -- Adder of 2
          add2 = (+) 2
          add2 5 = 7

      section
        p Mappend 
        p #[code m -> (m -> m)] 
        p is a mapping from any number of a monoidal set to a function 
        p #[code m -> m] 
        p that adds this number to it's argument.

      section
        p Let's think of a monoidal set as a single object category.

        p The whole set is the only object.

        .mermaid.
          graph TB

          N -- +0 --> N
          N -- +1 --> N
          N -- +2 --> N
          N -- +3 --> N

      section
        p Does every category with a single object define a unique monoid in terms of set theory?

      section
        p We can always extract a set from a category like that. 
        
        p Remember hom-set #[code C(a, b)]?
          br
          small A set of morphisms from object #[code a] to object #[code b] in a category #[code C].


      section
        p In a single object category there is only one object 
        
        img.fragment(src="./duh.gif" style={ border: "none" })
        
        p.fragment so only one hom-set

        p.fragment: code M(m, m)

      section
        p The hom-set of the only object is a unique set for this category. 
        p In a way it identifies it.

      section
        p The binary operator in the hom-set

        p: code M(m, m)

        p is the monoidal product of two set-elements 
        p in the element corresponding to 
        p the composition of the corresponding morphisms.

        p.fragment 🙊 🙈 🙉

        //- TODO: Diagram
      
      section
        p The composition will always exist because the source and the destination is the same object.

        .mermaid.
          graph LR

          A(m)  
          B(m)
          C(m)
          
          A -- f --> B
          B -- g --> C
          A -- "g ‧ f" --> C

      section
        p It's associative by the rules of category


        .mermaid.
          graph LR

          A(m)  
          B(m)
          C(m)
          D(m)
          
          A -- f --> B
          B -- g --> C
          C -- h --> D
          A -- "g ‧ f" --> C
          A -- "h ‧ (g ‧ f)" --> D


        .mermaid.
          graph LR

          A(m)  
          B(m)
          C(m)
          D(m)
          
          A -- f --> B
          B -- g --> C
          C -- h --> D
          B -- "h ‧ g" --> D
          A -- "(h ‧ g) ‧ f" --> D

      section
        p The identity morphism corresponds to the neutral element of the set

        p: code id ‧ f = f
        p: code f ‧ id = f

      section
        p Elements of a hom-set can be seen both as morphisms and as points in a set.

      section
        h2 The End

        p.fragment Wait, there's more...

      section
        h3 Challenges

      section
        p Generate a free category from
        ol
          li A graph with one node and no edges
          li A graph with one node and one directed edge (hint: this edge can be composed with itself)
          li A graph with two node and one directed edge between them
          li A graph with a single node and 26 arrows marked with the letters of the alphabet (a - z)

      section
        p What kind of order is this?

        ol
          li A set of sets with the inclusion relation: A is included in B if every elements of A are also elements of B

          li C++ types with the following subtyping relation: T1 is a subtype of T2 if pointer to T1 can be passed to a function that expects a pointer to T2 without triggering a compilation error.

      section
        p Considering that Bool is a set of two values (True and False), show that it forms two (set-theoretical) monoids under, respectively #[code and] and #[code or] operators.

      section
        p Represent the Bool monoid with the AND operator as a category. List the morphisms and their rules of composition.

      section
        p Represet addition modulo 3 as a monoid category.
          
          






    script(type="text/javascript" src="./index.coffee" )
